<div class="row">
    <div class="container">
        {#        <div class="cart-list">#}
        <table class="cart-table">
            <h5 class="card-title">Ваш заказ: <span class="total-sum">{{ app.session.get('chet') }}</span></h5>
            {% if products %}
            {% else %}
                <div class="row">
                    <div class="container">Ваша карзина пуста</div>
                </div>
            {% endif %}
            <div id="loader"></div>
            {% for i in products %}
                {% for ii in i.feature.getRestoran()%}
                    {{ ii.name }}
                {% endfor %}
                <tbody>
                <tr>
                    <td class="cart-table-img">
                        <img id="photo" class="card-img-top"
                             src="{{ asset('images/uploads/tov' ) }}"
                             alt="{{ i.feature.name }}">
                    </td>
                    <td class="cart-table-title">
                        <div class="name">{{ i.feature.name }}</div>
                        {#                            <div class="desc">{{ i.feature.getIdCategory().name }}#}
                        {#                                гр.#}
                        {#                            </div>#}
                    </td>
                    <td class="cart-table-qty">
                        <div class="qty-col">
                            <div class="qty">
                                <a class="qty-minus"
                                   href="{{ path('minusOrder', {'id':i.feature.id,'per':0, 'res':res}) }}">
                                </a>
                                <input type="tel" class="qty-input" value="{{ i.count }}" readonly>
                                <a class="qty-plus"
                                   href="{{ path('plusOrder', {'id':i.feature.id,'per':0, 'res':res}) }}">
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="cart-table-price">
                        <div class="catalog-item-price">{{ i.feature.cena }} ₽</div>
                    </td>
                    <td class="cart-table-remove">
                        <a class="cart-table-remove-link"
                           href="{{ path('deleteOrder', {'id':i.feature.id,'per':0, 'res':res}) }}"><i
                                    class="fas fa-minus-circle delete fa-lg"></i></a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
            {% if products %}
                <tfoot>
                <tr>
                    <td colspan="3" class="cart-table-sum">Общая сумма:</td>
                    <td class="cart-table-price">
                        <div class="catalog-item-price">{{ sum }} ₽</div>
                    </td>
                </tr>
                </tfoot>
            {% endif %}
        </table>
        <button type="button" class="buttonorder" onclick="location.href='http://tracex.ru/order'">Оформить заказ
        </button>
        {#        </div>#}
    </div>
</div>
{% block javascripts %}
    <script>
        $(document).ready(function () {
                {#let res = {{ res }};#}
                {#alert(res);#}
                $.fancybox.open('<div class="message"><h2>Невозможно заказать товары с разных ресторанов</h2>' +
                    '<p>Закажите товар с ресторана {{ resname }}</p></div>');
            }
        );
    </script>
{% endblock %}