{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}


{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login/loginstyle.css') }}">

{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand " href="{{ path('homepage') }}"><h1>Laz<span class="lazzarlogo">zat</span></h1></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item main mr-2">
                    <a href="#">Ресторанам</a>
                    <hr class="shapkaspin">
                </li>
                <li class="nav-item main">
                    <a href="#">Курьерам</a>
                    <hr class="shapkaspin">
                </li>
            </ul>
{#            <a href="{{ path('app_login') }}" class="button-main login">#}
{#                <button  type="submit">Войти</button>#}
{#            </a>#}
        </div>
    </nav>
{% endblock %}
{% block body %}
    <main class="materialContainer">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success w-100 text-center">
                {{ message }}
            </div>
        {% endfor %}

        <div class="box col-12">
            <div class="_container_login">
                <div class="title">
                    <h3>Вход в систему</h3>
                </div>
                        <form method="post">
                            {% if error %}
                                <div>Не верный пароль или логин</div>
                            {% endif %}
                            <div class="input">
                                <label for="name">Идентификатор</label>
                                <input type="text" value="{{ last_username }}" name="name" id="name" required autofocus>
                                <span class="spin"></span>
                            </div>
                            <div class="input">
                                <label for="pass">Пароль</label>
                                <input type="password" name="pass" id="pass" required>
                                <span class="spin"></span>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                            <div class="button login">
                                <button type="submit">
                                    Войти
                                </button>
                            </div>
                                <div class="button login">
                                <button type="button" onclick="location.href='{{ path("register") }}'">
                                    Регистрация
                                </button>
                            </div>
                            <div class="text-zabili-parol">
                                <a href="login.html.twig">Забыли пароль?</a>
                            </div>
                        </form>
                    </div>
{#                    <div class="col-lg-4 offset-md-1 col-md-5 col-sm-8 col-12   m-2">#}
{#                        <h3>Помощь</h3>#}
{#                        <p>Информация о том как и где получить логин и пароль.</p>#}
{#                    </div>#}
        </div>
    </main>


{#    <div class="materialContainer">#}
{#                {% for message in app.flashes('success') %}#}
{#                    <div class="alert alert-success w-100 text-center">#}
{#                        {{ message }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#        <div class="box">#}
{#            <form method="post">#}
{#                                        {% if error %}#}
{#                                            <div>Не верный пароль или логин</div>#}
{#                                        {% endif %}#}

{#            <div class="title">LOGIN</div>#}

{#            <div class="input">#}
{#                <label for="name">Username</label>#}
{#                <input type="text" name="name" id="name">#}
{#                <input type="text" value="{{ last_username }}" name="name" id="name" required autofocus>#}
{#                <span class="spin"></span>#}
{#            </div>#}

{#            <div class="input">#}
{#                <label for="pass">Password</label>#}
{#                <input type="password" name="pass" id="pass">#}
{#                <input type="password" name="pass" id="pass" required>#}
{#                <span class="spin"></span>#}
{#            </div>#}
{#            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

{#            <div class="button login">#}
{#                <button><span>GO</span> <i class="fa fa-check"></i></button>#}
{#                <button type="submit">#}
{#                                                        Войти#}
{#                </button>#}
{#            </div>#}

{#            <a href="" class="pass-forgot">Forgot your password?</a>#}
{#            </form>#}
{#        </div>#}

{#        <div class="overbox">#}
{#            <div class="material-button alt-2"><span class="shape"></span></div>#}

{#            <div class="title">REGISTER</div>#}

{#            <div class="input">#}
{#                <label for="regname">Username</label>#}
{#                <input type="text" name="regname" id="regname">#}
{#                <span class="spin"></span>#}
{#            </div>#}

{#            <div class="input">#}
{#                <label for="regpass">Password</label>#}
{#                <input type="password" name="regpass" id="regpass">#}
{#                <span class="spin"></span>#}
{#            </div>#}

{#            <div class="input">#}
{#                <label for="reregpass">Repeat Password</label>#}
{#                <input type="password" name="reregpass" id="reregpass">#}
{#                <span class="spin"></span>#}
{#            </div>#}
{#            <div class="button">#}
{#                <button><span>NEXT</span></button>#}
{#            </div>#}
{#        </div>#}

{#    </div>#}
{% endblock %}
{% block footer %}
{% endblock %}









