<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Регистрация{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/login/loginstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login/registerstyle.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
        <link rel="stylesheet" href="{{ asset('css/card/resstyle.css') }}">
    {% endblock %}
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar justify-content-between sticky-top navbar-expand navbar-dark bg-dark static-top">
        <div class="justify-content-start">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-brand mr-1" href="{{ path('admin_home_index') }}">Администратор, {{ app.user.username }}</a>
            {% elseif is_granted('ROLE_MODERATOR') %}
                <a class="navbar-brand mr-1" href="{{ path('admin_home_index') }}">Модератор, {{ app.user.username}}</a>
            {% endif %}
            <button class="btn btn-link btn-sm text-white" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY')%}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                {#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"#}
                {#                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">#}
                {#            <span class="navbar-toggler-icon"></span>#}
                {#        </button>#}
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand " href="{{ path('homepage') }}"><h1>Laz<span class="lazzarlogo">zat</span></h1></a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item main mr-2">
                            <a href="#">Ресторанам</a>
                            <hr class="shapkaspin">
                        </li>
                        <li class="nav-item main">
                            <a href="#">Курьерам</a>
                            <hr class="shapkaspin">
                        </li>
                    </ul>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_login') }}" class="button-main login">
                            <button  type="submit">Войти</button>
                        </a>
                    {% endif %}
                    {#            <a href="{{ path('app_login') }}" class="button-main login">#}
                    {#                <button  type="submit">Войти</button>#}
                    {#            </a>#}
                </div>
            </nav>
    {% endif %}
    {% block head %}
    {% endblock %}
</head>
<body>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-lg-2 navbar-container bg-warning">
                    <!-- Вертикальное меню -->
                    <nav class="navbar navbar-expand-md navbar-light" style="font-size: x-large">
                        <div class="collapse navbar-collapse">
                            <!-- Пункты вертикального меню -->
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin_users') }}" style="color: #0c0c0c">Пользователи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="{{ path('admin_roles_index') }}" role="tab" style="color: #0c0c0c">Роли</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="{{ path('admin_permissions_index') }}" style="color: #0c0c0c">Разрешения</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="#status" style="color: #0c0c0c">Статус</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#settings"
                                       style="color: #0c0c0c">Ссылка 4</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-8 col-lg-10 content-container" style="background-color: #ffffff">
                    <div class="tab-content">
                        <div class="col align-self-center">
                            {% block content %}
                                <div id="register">
                                    <div class="container">
                                        <h3 class="text-center">Регистрация</h3>
                                        {{ form_start(form) }}
                                        {{ form_row(form.surname) }}
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.username) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.phone) }}
                                        {{ form_row(form.password) }}
                                        {{ form_row(form.termsAccepted) }}
                                        <button class="col-12 btn btn-secondary m-1" onclick="document.forms[0].submit();">Зарегистрироваться</button>
                                        {% if form.userRoles is defined %}
                                            {{ form_row(form.userRoles) }}
                                        {% endif %}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>

                </div>

            </div>

    {#<div id="wrapper">#}
    {#    <div id="content-wrapper">#}
    {#        {% include 'admin/footer.html.twig' %}#}
    {#    </div>#}
    {#</div>#}

{#    {% include 'admin/logout.html.twig' %}#}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    {% block javascripts %}
        {#        <script>#}
        {#            $('#myList a').on('click', function (e) {#}
        {#                e.preventDefault()#}
        {#                $(this).tab('show')#}
        {#            })#}
        {#        </script>#}
    {% endblock %}
    </div>
    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY')%}
    <main class="materialContainer mb-3">
        <div class="box">
            <div class="_container_login">
                <div class="title">
                    <h3>Регистрация</h3>
                </div>
                {{ form_start(form) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.name) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.password) }}
                {{ form_row(form.termsAccepted) }}
                <div class="button login">
                    <button type="submit" onclick="document.forms[0].submit();">
                            Зарегистрироваться
                    </button>
                </div>
                {% if form.userRoles is defined %}
                    {{ form_row(form.userRoles) }}
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </main>
    {% endif %}
</body>


</html>






















{#{% extends 'base.html.twig' %}#}
{#{% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}#}
{#    {% block title %} Регистрация {% endblock %}#}
{#    {% include 'regform.html.twig' %}#}

{#{% block body %}#}
{#    {% block main %}#}
{#    <div class="alert alert-success" role="alert">#}
{#        <h4 class="alert-heading">Well done!</h4>#}
{#        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>#}
{#        <hr>#}
{#        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>#}
{#    </div>#}

{#    <div class="container">#}
{#        <h3 class="text-center">Регистрация</h3>#}
{#        {{ form_start(form) }}#}
{#        {{ form_row(form.username) }}#}
{#        {{ form_row(form.email) }}#}
{#        {{ form_row(form.plainPassword) }}#}
{#        {{ form_row(form.password) }}#}

{#        {{ form_row(form.termsAccepted) }}#}
{#        {{ form_row(form.label) }}#}
{#        {% if form.userRoles is defined %}#}
{#            {{ form_row(form.userRoles) }}#}
{#        {% endif %}#}

{#        {{ form_end(form) }}#}
{#    </div>#}
{#    {% endblock %}#}
{#{% endblock %}#}

{#{% elseif is_granted('ROLE_ADMIN') %}#}
{#    {% include 'admin/index.html.twig' %}#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
{#          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
{#          crossorigin="anonymous">#}
{#    {% block content %}#}
{#        {% include 'regform.html.twig' %}#}
{#    {% endblock %}#}

{#{% endif %}#}













{#{% extends 'admin/index.html.twig' %}#}
{#{% block title %} РОль{% endblock %}#}
{#{% block head%}#}
{#    head#}
{#{% endblock %}#}
{#{% block content %}#}
{#    <div id="register">#}
{#        <div class="alert alert-success" role="alert">#}
{#            <h4 class="alert-heading">Well done!</h4>#}
{#            <p>Aww yeah, you successfully read this important alert message. This example text is going#}
{#                to run a bit longer so that you can see how spacing within an alert works with this kind#}
{#                of content.</p>#}
{#            <hr>#}
{#            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice#}
{#                and tidy.</p>#}
{#        </div>#}

{#        <div class="container">#}
{#            <h3 class="text-center">Регистрация</h3>#}
{#            {{ form_start(form) }}#}
{#            {{ form_row(form.username) }}#}
{#            {{ form_row(form.email) }}#}
{#            {{ form_row(form.plainPassword) }}#}
{#            {{ form_row(form.password) }}#}

{#            {{ form_row(form.termsAccepted) }}#}
{#            {{ form_row(form.label) }}#}
{#            {% if form.userRoles is defined %}#}
{#                {{ form_row(form.userRoles) }}#}
{#            {% endif %}#}

{#            {{ form_end(form) }}#}


{#        </div>#}
{#    </div>#}
{#{% endblock %}#}


