{% for tovar in tovars %}
    <div class="fancybox-content">
{#        <div class="container">#}
            <div class="row justify-content-center">
                <div class="col">
                    {% if tovar.imageLink !=null or tovar.imageLink !="" %}
                        <img class="searchmodalka_img" src="{{ asset('images/uploads/tov' ~ tovar.imageLink) }}"
                             alt="Изображение товара">
                    {% else %}
                        <img class="searchmodalka_img" src="{{ asset('images/base/15404524_original.jpg') }}"
                             alt="Изображение товара">
                    {% endif %}
                </div>
                <div class="col">
                    <div class="info">
                        <div class="top">
                            <div class="name mb-3 namemodalka">{{ tovar.name }}
                            </div>
                            <div class="desc"><p>
                                <span class="tovarcoment">{{ tovar.coment }}</span>
                                    <br class="tovarcoment">комент</p></div>
                            </div>
                            <div class="bottom">
                                <div class="bottom-row hide-on-mobile">
                                    <div class="radio-set mt-3">
                                        <div class="bottom-row hide-on-mobile">
                                            <div class="radio-set">
                                                <span class="radio-item-text"
                                                      data-value="option[256]">размер если есть</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <p>
                                        <div class="catalog-item-price d-flex align-items-center">
                                            <span class="new">&#8381; {{ tovar.cena }}</span>
                                        </div>
                                        <br>
                                        <button type="button" data-product="{{ tovar.id }}"
                                                data-feature="{{ tovar.id }}"
                                                class="vbasketmodal btnOrder" onclick="popo(this)">В корзину
                                        </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close">
            </button>
{#        </div>#}
    </div>
{% endfor %}