{% extends 'admin/index.html.twig' %}


{% block title %}Просмотр типа{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
    {% endblock %}

{% block content %}
    <div class="container p-2">
        <div class="row d-flex justify-content-start ">
            <div class="col-12">
                <div class="row   p-2">
                    <div class="row">
                        <h3 class="col-md-10 col-sm-12">Тип: &nbsp; {{ tip.getName() }}</h3>
                    <div class="col-md-2 col-sm-12 btn-group" role="group" aria-label="Action">
                        <button class="btn btn-secondary"
                                onclick="location.href='{{ path("admin_tip_edit", {'id':tip.id}) }}'">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="btn btn-secondary"
                                onclick="location.href='{{ path("admin_tip_delete",{'id':tip.id}) }}'">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="  btn btn-secondary" onclick="location.href='{{ path("admin_tip_index") }}'">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Идентификатор</td>
                    <td>{{ tip.getId() }}</td>

                </tr>
                <tr>
                    <td>Системное имя</td>
                    <td>{{ tip.getName() }}</td>
                </tr>
                <tr>
                    <td>Товары</td>
                    <td>

{#                {% for tovar in restorans.tovars %}#}
{#                    <button class="btn btn-info m-1" title="{{ tovar.getName() }}"#}
{#                            onclick="location.href='{{ path("admin_tovar_show", {'id': tovar.getId}) }}'">#}
{#                        {{ tovar.getName() }}#}
{#                    </button>#}
{#                {% endfor %}#}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
