<div class="card-deck">
    {% for restoran in restorans %}
        {#    {% for tovar in restoran.getTovar() %}#}
        {#    {% for restoran in tovar.getRestoran() %}#}
        <div class="col-sm-6 col-md-4 col-lg-4 mt-2 mb-4">
            <div class="containerres" onclick="location.href='{{ path("restoran_homepage",{'id': restoran.id}) }}'">
                {#                <img class="imgcardres"#}
                {#                     src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg="#}
                {#                     alt=""/>#}
                {% if restoran.imageLink !=null or restoran.imageLink !="" %}#}
                    <img id="photo" class="imgcardres" src="{{ asset('images/uploads/res/' ~ restoran.imageLink) }}"
                         alt="Изображение ресторана">
                {% else %}
                    <img id="photo" class="imgcardres" src="{{ asset('images/base/15404524_original.jpg') }}"
                         alt="Изображение ресторана">
                {% endif %}
                <p class="title">{{ restoran.name }}</p>
                <div class="overlay">
                </div>
                <div class="infores">
                    <span>
                    {% for adres in restoran.getAdress() %}
                        город {{ adres.city }}, ул.
                        {{ adres.street }}, дом
                        {{ adres.house }}
                    {% endfor %}
                        </span>
                </div>
                <div class="button">
                    {#                                            <a href="#"> BUTTON </a>#}
                </div>
            </div>
            {#                <div class="card" onclick="location.href='{{ path("restoran_homepage",{'id': restoran.id}) }}'">#}
            {#                    {% if restoran.imageLink !=null or restoran.imageLink !=""  %}#}
            {#                        <img id="photo" class="card-img-top" src="{{ asset('images/uploads/res/' ~ restoran.imageLink) }}" alt="Изображение ресторана">#}
            {#                    {% else %}#}
            {#                        <img id="photo" class="card-img-top" src="{{ asset('images/bmw_logo.png') }}" alt="Изображение ресторана">#}
            {#                    {% endif %}#}
            {#                    <div class="card-block">#}
            {#                        <figure class="profile">#}
            {#                            <img src="https://img.over-blog-kiwi.com/0/94/61/80/20200102/ob_564e8b_gif-scintillant-bonne-annee-meilleurs.gif" style="width: 25px;height: 25px;" alt="">#}
            {#                        </figure>#}
            {#                        <h4 class="card-title mt-3">{{ restoran.name }}</h4>#}
            {#                        <div class="meta">#}
            {#                            <a>Оценка {{ restoran.rating }}</a>#}
            {#                        </div>#}
            {#                        <div class="card-text">#}
            {#                            {% for adres in restoran.getAdress() %}#}
            {#                                город {{ adres.city}}, ул.#}
            {#                                {{ adres.street}}, дом#}
            {#                                {{ adres.house}}#}
            {#                            {% endfor %}#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="card-footer">#}
            {#                        <small>Last updated 3 mins ago</small>#}
            {#                        <button class="btn btn-secondary float-right btn-sm">show</button>#}
            {#                    </div>#}
            {#                </div>#}
        </div>
        {#    {% endfor %}#}
    {% endfor %}
</div>