{% extends 'admin/index.html.twig' %}
{% block title %} Роли{% endblock %}
{% block head%}

{% endblock %}
{% block content %}
        <div class="container-fluid">
        <div class="d-flex justify-content-between p-2">
            <h3>Список ролей</h3>
            <div>
                <a class="btn btn-secondary" href="{{ path('admin_roles_add') }}"><i
                            class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="table">
                <thead class="thead-black bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Название роли</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <th scope="row">{{ role.id }}</th>
                        <td>{{ role.name }}</td>
                        <td class="d-md-inline-flex flex-md-row justify-content-md-end d-flex flex-column justify-content-center">
                            <div class="btn-group" role="group" aria-label="Action">
                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_roles_show", {'id': role.id}) }}'">

                                    <i class="fas fa-book-open"></i>
                                </button>

                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_roles_edit", {'id': role.id}) }}'">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_roles_delete",{'id':role.id}) }}'">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{#{% block content %}#}
{#<div id="roles">#}
{#    {% for role in roles %}#}
{#        <nav class="navbar navbar-inverse">#}
{#            <div class="container-fluid">#}
{#                <div>#}
{#                    <ul class="nav navbar-nav">#}
{#                        <li class="dropdown">#}
{#                            <a class="dropdown-toggle" data-toggle="dropdown"#}
{#                               href="#">{{ role.name }}#}
{#                                <span class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                {% for permissions in role.getPermissions %}#}
{#                                    <li><a href="#">{{ permissions.name }}</a></li>#}
{#                                {% endfor %}#}
{#                                <li>#}
{#                                    <a href="{{ path('admin_spisokad', {id: role.id}) }}">#}
{#                                        <button type="button" class="btn btn-outline-success">Add#}
{#                                        </button>#}
{#                                    </a>#}
{#                                    <a href="#">#}
{#                                        <button type="button" class="btn btn-outline-info">Инфо#}
{#                                        </button>#}
{#                                    </a>#}
{#                                    <a href="{{ path('admin_spisokremove', {id: role.id}) }}">#}
{#                                        <button type="button" class="btn btn-outline-danger">#}
{#                                            Remove#}
{#                                        </button>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </nav>#}
{#    {% endfor %}#}
{#</div>#}
{#{% endblock %}#}
