{% extends 'admin/index.html.twig' %}


{% block title %}Просмотр роли{% endblock %}

{% block content %}

    <div class="container p-2">
        <div class="row d-flex justify-content-start ">
            <div class="col-12">
                <div class="row   p-2">
                    <h3 class="col-md-10 col-sm-12">Информация о роли: &nbsp; {{ role.getName() }}</h3>
                    <div class="col-md-2 col-sm-12 btn-group" role="group" aria-label="Action">
                        <button class=" btn btn-secondary"
                                onclick="location.href='{{ path("admin_roles_edit", {'id': role.id}) }}'">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="  btn btn-secondary"
                                onclick="location.href='{{ path("admin_roles_delete", {'id': role.id}) }}'">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="  btn btn-secondary" onclick="location.href='{{ path("admin_roles_index") }}'">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Идентификатор</td>
                    <td>{{ role.getId() }}</td>

                </tr>
                <tr>
                    <td>Системное имя роли</td>
                    <td>{{ role.getName() }}</td>
                </tr>
                <tr>
                    <td>Права доступа</td>
                    <td>
                        {% for permission in role.getPermissions() %}
                            <button class="btn btn-info m-1" title="{{ permission.getName() }}"
                                    onclick="location.href='{{ path("admin_permissions_show", {'id': permission.getId}) }}'">
                                {{ permission.getName() }}
                            </button>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
