html, body {
    font-family: Roboto sans-serif;
    margin: 0;
    padding: 0;
}

.admin {
    flex: 1;
    background-color: #F1F0EE;
}

main {
    flex: 1;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scrollBlock {
    overflow-y: scroll;
    height: 90vh;
}

._title {
    background: linear-gradient(45deg, #041c29, rgba(4, 45, 63, 0.91));
}

._line {
    padding: 5px;
    border-bottom: 1px solid #f2f2f2;
    width: content-box;

}

footer ._copyright span {

    color: #fafffc;
}

.around {
    width: 100%;
}

.nav-side-menu {
    overflow: auto;
    font-family: Arial, serif;
    font-size: 14px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    width: 25%;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

.checkbox_center {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.card_menu{
    color: #063f59;
}



.card_menu:hover .ic,
.card_menu:hover h6,
.card_menu:hover .span3{
    color: #369293;
}

.card_menu:hover{
    box-shadow:
            1px 1px #369293,
            2px 2px #369293,
            3px 3px #369293,
            4px 4px #369293,
            5px 5px #369293,
            6px 6px #369293,
            7px 7px #369293 !important;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}

.options-text {
    font-size: 17px;
    line-height: 19px;
    font-weight: bold;
    position: absolute;
    bottom: 27px;
    left: 30px;
    right: 60px;
}


.opt_menu{
    min-width: 280px ;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 26px;
}

.options-item {
    display: block;
    position: relative;
    text-decoration: none;
    height: 240px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(227, 227, 227, 0.5);
    color: #232b31;
}


.hr_profil {
    border: none; /* Убираем границу */
    background-color: #54727a; /* Цвет линии */
    color: #54727a;; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 80%;
}

#map {
    background : url('../img/worldmap.png');
    background-size : contain;
    background-position : center;
    background-repeat : no-repeat;
    width : 100%;
    height : 100%;
    position : absolute;
}
#home {
    height : 350px;
    background: #00172d !important;
}


.textHeder {
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.textHeder > span {
    display: inline-block;
    margin: 0 .4em;
}
.textHeder  > span:before,
.textHeder  > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #54727a;
    margin-top: .6em;
}
.textHeder > span:before {
    margin-left: -102%;
}
.textHeder > span:after {
    margin-left: 2%;
}


a  {
    text-decoration:none !important;

}



.HDNP{
    visibility: hidden;
}