


.navbar-nav .nav-item a {
    margin: 5px;

    color: white !important;
    text-transform: uppercase;
}
.txt {
    font-size: 14px;
}

.center-ver{
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 760px) {
    .rownav  {
        height: 100% !important;
    }
}

.navbar-nav .nav-item {

}

.navbar-nav .nav-item:hover{
    border-left: 3px solid #f7f7f7;
    background-color: #4f5b69;

    transition: all 500ms ease;
}


.lis{
    list-style-type: none;
    margin: 10px;
    border-bottom: 1px solid #eaeaea;
}