/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html,

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;

}


section{

    background-color: #666;
    position: relative;
    overflow: hidden;
}

/*
.sect_1{
  background-image: url('../img/bg-home.png');
  background-size: cover;
  overflow: hidden;
}

*/


.infotext{
    position: relative;
    z-index: 3;
    font-weight: lighter;
    font-family: FreeMono, monospace;
    text-transform: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    top: 25%;
}
@media (max-width:1024px){
    .infotext{
        top: 25%;
    }
}

.infotext h1.name{

    display: inline-block;
    color: rgb(0,228,255);
    font-family: "Source Sans Pro",Helvetica,sans-serif;

}
.infotext h1.name span{
    width: 0.65vh;
    margin-bottom: -1vh;
    margin-left: 1vh;
    height: 6vh;
    background: #ffffff;
    opacity: 0;
    display: inline-block;
}

.infotext h1.work{
    font-size: 5.5vh;
    font-weight: bold;
    color: #bfbfbf;
}


#map {
    background : url('../img/worldmap.png');
    background-size : contain;
    background-position : center;
    background-repeat : no-repeat;
    width : 100%;
    height : 100%;
    position : absolute;
}
#home {
    height : 650px;
    background: #00172d !important;
}

.inner li.item{
    display: inline; /* Отображать как строчный элемент */

    padding: 3px; /* Поля вокруг текста */
}

.inner .item .wrap {
    display: inline-block;
}

.inner .item .wrap>.number {
    font-size: 25px;
}


.inner .item .wrap>.text {
    display: block;
    font-size: 13px;
    line-height: 8px;
    margin-top: 2px;
}

.inner div + div:before {
    content: "";
    display: inline-block;
    height: 45%;
    width: 1px;
    margin: 15px;
    background: #007de6;
}





img.displayed {

    display: block;
    margin-left: auto;
    margin-right: auto }


.banner_image {
    float: left;
    margin-right: 18px;
    width: 160px;
    height: 127px;
    border: none;
}



.banner__title {
    margin: 30px 0 0;
    padding: 0;
    line-height: 23px;
    font-weight: normal;
    font-size: 21px;
    color: #3D73A9;
}
.banner__text {
    color: #d0d0d0;
    margin: 16px 0 0;
    word-wrap: break-word;
}