.cart-list{
    border-bottom: 1px solid #eaf0f4;
    margin-bottom: 22px;
}
.cart-table{
    width: 100%;
    margin-bottom: 38px;
}
.cart-table .cart-table-img {
    width: 50px;
}
.cart-table .cart-table-img img {
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}
.cart-table .cart-table-title {
    padding-left: 3px;
    padding-right: 3px;
}
.cart-table .cart-table-title .name {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3px;
    display: block;
}
.cart-table .cart-table-price {
    text-align: right;
    padding-right: 3px;
    padding-left: 3px;
}
.cart-table .cart-table-sum {
    font-size: 1rem;
    font-weight: 500;
}
.catalog-item-price {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}
.qty-plus, .qty-minus {
    position: absolute;
    width: 20px;
    height: 100%;
    background-image: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 1;
    border-radius: 0;
    vertical-align: middle;
    outline: none;
    text-align: center;
    -webkit-transition: background-color 0.18s ease-in-out;
    -o-transition: background-color 0.18s ease-in-out;
    transition: background-color 0.18s ease-in-out;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
}
.qty {
    white-space: nowrap;
    display: inline-block;
    width: 60px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.qty-input {
    height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    color: #333;
    font-size: 0.875rem;
    outline: none;
    vertical-align: middle;
    padding: 2px 2px 0;
    width: 100%;
    font-weight: 500;
}
.cart-table .cart-table-remove-link {
    margin-right: 0px;
}