.cart-list{
    border-bottom: 1px solid #eaf0f4;
    margin-bottom: 22px;
}
.cart-table{
    width: 100%;
    margin-bottom: 38px;
}
.cart-table {
    width: 100%;
    margin-bottom: 38px;
}

.cart-table tr {
    border-bottom: 1px solid #eaf0f4;
}

.cart-table td {
    padding: 20px 0;
}

.cart-table .cart-table-img {
    width: 60px;
}

.cart-table .cart-table-img img {
    width: 60px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
}

.cart-table .cart-table-title {
    padding-left: 15px;
    padding-right: 15px;
    width: 53%;
}

.cart-table .cart-table-title .name {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 3px;
    display: block;
}

.cart-table .cart-table-title .desc {
    color: #999;
    font-family: "GothamPro", sans-serif; !important;
    font-size: 0.75rem;
    font-weight: 400;
}

.cart-table .cart-table-remove {
    width: 16px;
}

.cart-table .cart-table-remove-link {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 16px;
    height: 16px;
}

.cart-table .cart-table-qty {
    width: 78px;
}

.cart-table .cart-table-price {
    text-align: right;
    padding-right: 160px;
    padding-left: 10px;
}

.cart-table .cart-table-sum {
    font-size: 1.125rem;
    font-weight: 500;
}
.catalog-item-price {
    font-size: 1.125rem;
    font-weight: 500;
    white-space: nowrap;
}
.qty {
    white-space: nowrap;
    display: inline-block;
    width: 78px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.qty-input {
    height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    color: #333;
    font-size: 0.875rem;
    outline: none;
    vertical-align: middle;
    padding: 2px 26px 0;
    width: 100%;
    font-weight: 500;
}

.qty-input::-webkit-outer-spin-button, .qty-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty-plus, .qty-minus {
    position: absolute;
    width: 26px;
    height: 100%;
    background-image: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 1;
    border-radius: 0;
    vertical-align: middle;
    outline: none;
    text-align: center;
    -webkit-transition: background-color 0.18s ease-in-out;
    -o-transition: background-color 0.18s ease-in-out;
    transition: background-color 0.18s ease-in-out;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
}

.qty-plus:hover, .qty-plus:focus, .qty-minus:hover, .qty-minus:focus {
    outline: none;
    background-color: #dedede;
}

.qty-plus:before, .qty-plus:after, .qty-minus:before, .qty-minus:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #666666;
    border-radius: 1px;
}

.qty-plus:before, .qty-minus:before {
    width: 10px;
    height: 2px;
}

.qty-plus:after, .qty-minus:after {
    width: 2px;
    height: 10px;
}

.qty-minus {
    left: 0;
    border-right: 1px solid #d8d8d8;
}

.qty-minus:after {
    display: none;
}

.qty-minus:before {
    margin-left: 1px;
}

.qty-plus {
    border-left: 1px solid #d8d8d8;
    right: 0;
}

.radio-set {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


