{% extends 'admin/index.html.twig' %}

{% block title %}Просмотр пользователя  {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-end pt-4">
                <div class="btn-group" role="group" aria-label="Action">
                    <a href="users/{{ user.id }}/edit">
                        <button class="btn btn-secondary">Изменить</button>
                    </a>
                    <a href="users/{{ user.id }}/delete">
                        <button class="btn btn-secondary">Удалить</button>
                    </a>
                    <a href="{{ path('admin_users') }}">
                    <button class="btn btn-secondary">Закрыть
                    </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-auto ">
{#                {% if user.imageLink !=null or user.imageLink !=""  %}#}
{#                    <img id="photo" src="{{ asset('uploads/imageusers/' ~ user.imageLink) }}" alt="Изображение профиля"#}
{#                         style="width: 200px; display: block; padding: .25rem; border: 1px solid #cdcdcd; border-radius: .25rem;">#}
{#                {% else %}#}
{#                    <img id="photo" src="{{ asset('/img/deafult-avatar.jpeg') }}" alt="Изображение профиля"#}
{#                         style="width: 200px; display: block; padding: .25rem; border: 1px solid #cdcdcd; border-radius: .25rem;">#}
{#                {% endif %}#}
{#                {% if session_u  == user.id %}#}
{#                    <button type="button" class="btn btn-outline-info"data-toggle="modal" data-target="#avatarModal"> Изменить изображение</button>#}
{#                {% endif %}#}
            </div>
            <div class="col-12 col-md">
                <table class="table">
                    <caption style="caption-side: top;">Пользователь <span>{{ user.getUsername() }}  </span>
                    </caption>
                    <tbody>
                    <tr>
                        <td>Идетификатор</td>
                        <td>{{ user.getId() }}  </td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ user.name }}  </td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ user.surname }}  </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.getEmail() }}</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <td>История заказов</td>
{#                        <td>{{ user.phone }}</td>#}
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{#    <!-- Модальное окно для загрузки фотографии -->#}
{#    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="avatarModalLabel">Загрузите фотографию</h5>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <div class="form-group">#}
{#                        <div id="dropzone" class="dropzone dropzone-previews"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    #}{# START | modal  #}
{#    <div class="modal fade bd-example-modal-lg" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog modal-lg">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <div class="container"><h5 class="modal-title" id="descriptionModal-label"></h5></div>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body" id="descriptionModal-boy"></div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    #}{# END | modal  #}


{% endblock %}


{% block javascripts %}
{% endblock %}
