{% extends 'admin/index.html.twig' %}
{% block title %}Пользователи{% endblock %}
{% block head%}
{% endblock %}
{% block content %}
    <div id="users" >
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#fat">Администраторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mdo">Модераторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}" role="tab">Регистрация</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#one">one</a>
                        <a class="dropdown-item" href="#two">two</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#three">three</a>
                    </div>
                </li>
            </ul>
        </nav>
        <table class="table" id="table">
            <thead class="thead-black bg-warning">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Username</th>
                <th scope="col">Роль</th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for userr in users %}
{#                {% for roles in userr.roles|filter((roles)=> roles == "ROLE_ADMIN") %}#}
                <tbody>
                <tr>
                    <th scope="row">{{ userr.id }}</th>
                    <td>{{ userr.username }}</td>
                    <td>{{ userr.email }}</td>
                    {% for roles in userr.roles%}
                        <td>
                            {{ roles }}
                        </td>
                    <td>
                            <a href="users/{{ userr.id }}/show">
                                <button class="btn btn-secondary">Показать</button>
                            </a>
                            <a href="users/{{ userr.id }}/edit">
                                <button class="btn btn-secondary">Изменить</button>
                            </a>
                            <a href="users/{{ userr.id }}/delete">
                                <button class="btn btn-secondary">Удалить</button>
                            </a>

                    </td>
                    {% endfor %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

