.containerres {
    position: relative;
    width: 352px;
    height: 252px;
    margin-left: 0px;
    border: 1px #66CC75 solid;
    border-radius: 4px;
    background-color: #fff;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}
.infores {
    position: absolute;
    top: 188px;
    left: 0;
    width: 100.5%;
    height: 25%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
.infores span{
    visibility: hidden;
}
.containerres:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
.containerres:hover .infores {
    display: block;
    background: rgba(60, 255, 85, 0.5);
}
.containerres:hover .infores span {
    visibility: visible;
}
.imgcardres {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 0;
    border-radius: 3px;
}
.title {
    font-family: "GothamPro", sans-serif; !important;
    position: absolute;
    width: 500px;
    left: -70px;
    top: 100px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}
.containerres:hover .title {
    top: 90px;
}
.button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}
.containerres:hover .button {
    opacity: 1;
}
