.carousel-item{position:relative;width:100%;height:300px;color:white;overflow:hidden;}
.d-block{position: absolute;top: -50%;line-height: 1px;pointer-events: none;}

.navbar-expand-lg{
    height: 70px;
}
.bg-white{
    z-index: 1;
}