.searchText {
    outline: none;
    position:relative;;
    z-index: 1;
}

.searchText[type=text] {
    position:relative;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "GothamPro", sans-serif; !important;
    font-size: 100%;
}
.searchText::-webkit-search-decoration,
.searchText::-webkit-search-cancel-button {
    display: none;
}

.searchText[type=text] {
    position:relative;
    background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 9px 10px 9px 32px;
    width: 55px;
    line-height: 16px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.searchText[type=text]:focus {
    position:relative;
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.searchText:-moz-placeholder {
    color: #999;
}
.searchText::-webkit-input-placeholder {
    color: #999;
}
.search_result{
    position: absolute;
    background: #fff;
    border: 1px #66CC75 solid;
    width: 155px;;
    border-radius: 2px;
    max-height:1000px;
    display:none;
    margin-top: -1px;
    margin-left: 12px;
    z-index: 100;
}
.search_result li{
    list-style: none;
    padding: 3px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
    position: relative;
    z-index: 100;
}
.search_img{
    width: 40px;
    height: 40px;
}
.search_result li:hover{
    background: #cec5d2;
}

.fancybox-content{
    display: inline-block;
    width: 100%;
    max-width: 780px;
}
.searchmodalka_img{
    width: 352px;
    height: 252px;
    border: 1px #66CC75 solid;
    border-radius: 4px;
    background-color: #fff;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.searchmodalka_img:hover{

    -webkit-box-shadow: 0 0 15px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 15px rgba(109,207,246,.5);
    box-shadow: 0 0 15px rgba(109,207,246,.5);
}

.namemodalka{
    color: #66cc75;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    font-family: "GothamPro", sans-serif; !important;
}
.namemodalka:hover{
    color: #1baf29;
}
.tovarcoment{

}
.new{
    margin-right: 10px;
}
.fancybox-button .fancybox-close-small{
    outline: none;
}
.vbasketmodal{
    outline: none !important;
    width: 120px;
    line-height: 30px;
    float: right;
    right: 13px;
    background-color: transparent;
    border: 2px solid #66CC75;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.vbasketmodal:hover{
    outline: none;
    background-color: #66CC75;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.vbasket:before{
    outline: none;
}
.vbasket:after{
    outline: none;
}

