.main a{
    color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.4s;
    font-family: "GothamPro", sans-serif; !important;
}
.shapkaspin{
    margin-top: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition: all 0.6s;
}
.main a:hover {
    color: #66CC75;
}
.main a:hover + .shapkaspin{
    border: 1.5px solid #66CC75;
}
.load {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background: cornsilk;
    width: 43px;
    height: 11px;
    text-indent: -9999em;
}
.lazzarlogo{
    color: #66CC75;
}


