<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>2018 &copy; TraceX - Транспортно логистическая компания. Все права защищены</span>
        </div>
    </div>
</footer>