<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Статистика{% endblock %}</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/admin/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/lib/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}

        <nav class="navbar justify-content-between sticky-top navbar-expand navbar-dark bg-dark static-top">
            <div class="justify-content-start">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="navbar-brand mr-1" href="{{ path('admin_home_index') }}">Администратор, {{ app.user.username }}</a>
                 {% elseif is_granted('ROLE_MODERATOR') %}
                    <a class="navbar-brand mr-1" href="{{ path('admin_users') }}">Модератор, {{ app.user.username }}</a>
                  {% endif %}
                <button class="btn btn-link btn-sm text-white" id="sidebarToggle">

                </button>
            </div>
        </nav>
        {% block head %}
        {% endblock %}

    </head>

    <body id="page-top">


<div class="container-fluid">
    <div class="row">
            <div class="col-md-4 col-lg-2 navbar-container bg-warning">

                <!-- Вертикальное меню -->
                <nav class="navbar navbar-expand-md navbar-light" style="font-size: x-large">
                    <div class="collapse navbar-collapse">
                        <!-- Пункты вертикального меню -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_users') }}" style="color: #0c0c0c">Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_courier_index') }}" style="color: #0c0c0c">Курьеры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_roles_index') }}" role="tab" style="color: #0c0c0c">Роли</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_permissions_index') }}" style="color: #0c0c0c">Права доступа</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_zakazi_index') }}" role="tab" style="color: #0c0c0c">Заказы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_restoran_index') }}" style="color: #0c0c0c">Рестораны</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_tovar_index') }}" style="color: #0c0c0c">Продукты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_category_index') }}" style="color: #0c0c0c">Категория</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_tip_index') }}" style="color: #0c0c0c">Тип продукта</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('admin_xarakteristika_index') }}" style="color: #0c0c0c">Характеристика продукта</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings"
                                   style="color: #0c0c0c">Ссылка 4</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-md-8 col-lg-10 content-container" style="background-color: #ffffff">

                <div class="tab-content">
                    <div class="col align-self-center">
                    {% block content %}
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-xl-3 col-sm-6 mb-3 mb-3">
                                <div class="card text-black bg-warning mb-3" >
                                    <div class="card-header"><i class="fas fa-users"></i> ПОЛЬЗОВАТЕЛИ</div>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Всего</th>
                                                <th scope="col">Онлайн</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    {% set online = 0 %}
                                                    {% for userr in users %}
                                                    {% for roles in userr.roles|filter((roles)=> roles == "ROLE_USER") %}
{#                                                        {{ userr }}#}
                                                        {% set online = online + 1 %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                    {{ online }}
                                                </td>
                                                <td>online</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {#   <h5 class="card-title text-center">{{ count }}</h5>#}
                                </div>
                            </div>

                            <div class="col-xl-3 col-sm-6 mb-3 mb-3">
                                <div class="card text-black bg-warning mb-3">
                                    <div class="card-header"><i class="fas fa-shopping-basket"></i>&nbsp;ЗАКАЗЫ</div>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Всего</th>
                                                <th scope="col">Онлайн</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>all</td>
                                                <td>online</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {#   <h5 class="card-title text-center">{{ count }}</h5>#}
                                </div>
                            </div>

                            <div class="col-xl-3 col-sm-6 mb-3  mb-3">
                                <div class="card text-black bg-warning mb-3" >
                                    <div class="card-header"><i class="fas fa-user-tie"></i> МОДЕРАТОРЫ</div>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Всего</th>
                                                <th scope="col">Онлайн</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    {% set online = 0 %}
                                                    {% for userr in users %}
                                                        {% for roles in userr.roles|filter((roles)=> roles == "ROLE_MODERATOR") %}
                                                            {% set online = online + 1 %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {{ online }}
                                                </td>
                                                <td>online</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 mb-3  mb-3">
                                <div class="card text-black bg-warning mb-3" >
                                    <div class="card-header"><i class="fas fa-truck"></i>&nbsp;КУРЬЕРЫ</div>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Всего</th>
                                                <th scope="col">Онлайн</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    {% set online = 0 %}
                                                    {% for userr in users %}
                                                        {% for roles in userr.roles|filter((roles)=> roles == "ROLE_COURIER") %}
                                                            {% set online = online + 1 %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {{ online }}
                                                </td>
                                                <td>online</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {#   <h5 class="card-title text-center">{{ count }}</h5>#}
                                </div>
                            </div>
                            <p>Username: {{ app.user.username }}</p>

                            {% if app.debug %}
                                <p>Request method: {{ app.request.method }}</p>
                                <p>Application Environment: {{ app.environment }}</p>
                            {% endif %}

                            <p>session: {{ session_u }}</p>




                        </div>
                    {% endblock %}

                </div>
            </div>

    </div>
    </div>

</div>

{#<div id="wrapper">#}
{#    <div id="content-wrapper">#}
{#        {% include 'admin/footer.html.twig' %}#}
{#    </div>#}
{#</div>#}

{#{% include 'admin/logout.html.twig' %}#}

<script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
{#<script src="{{ asset('js/lib/dropzone.js') }}"></script>#}
    {% block javascripts %}
            <script>
                $(document).ready(function () {
                    $('#tableLog').dataTable({
                        processing: true,
                        serverSide: false,
                        paging: true,
                        searching: true,
                        ordering: false,
                        responsive: true,
                        info: false,
                        ajax: 'get',
                        columns: [
                            {data: 'id'},
                            {data: null,render: getFIO},
                            {data: null,render: getAct},
                            {data: 'data_this_log'},
                        ],
                        language: {
                            url: "/data/Russian.json"
                        },
                    });
                });



                function getFIO(data) {
                    return '<a href=\'/admin/users/' + data.id_user.id + '/show\'">'+data.id_user.surname+' '+data.id_user.name+' '+data.id_user.midlename+'<a>';
                }
                function getAct(data) {
                    return '<a>'+data.id_action.name+' '+data.info+'<a>';
                }
            </script>

    {% endblock %}
</body>

</html>