{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
{% endblock %}
    {% block sidebar %}
    {% endblock %}


{% block body %}
         {% block main %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">Hidden brand</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Searchhhhhhh</button>
                </form>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Пункт 1</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Пункт 3</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Пункт 4</a>
                </div>
            </div>
            <div class="col" >
                 {% for role in roles %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ role.name }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for permissions in role.getPermissions %}
                                    <li><a href="#">{{ permissions.name }}</a></li>
                                {% endfor %}
                                <li>
                                    <a href="{{ path('spisokad', {id: role.id}) }}">
                                        <button type="button" class="btn btn-outline-success">Add</button>
                                    </a>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-info">Инфо</button>
                                    </a>
                                    <a href="{{ path('spisokremove', {id: role.id}) }}">
                                        <button type="button" class="btn btn-outline-danger">Remove</button>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
