{% extends 'admin/index.html.twig' %}
{% block title %} Рестораны{% endblock %}
{% block head%}

{% endblock %}
{% block content %}
        <div class="container-fluid">
        <div class="d-flex justify-content-between p-2">
            <h3>Список ресторанов</h3>
            <div>
                <a class="btn btn-secondary" href="{{ path('admin_restoran_add') }}"><i
                            class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="table">
                <thead class="thead-black bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Название ресторана</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for restoran in restorans %}
                    <tr>
                        <th scope="row">{{ restoran.id }}</th>
                        <td>{{ restoran.name }}</td>
                        <td class="d-md-inline-flex flex-md-row justify-content-md-end d-flex flex-column justify-content-center">
                            <div class="btn-group" role="group" aria-label="Action">
                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_restoran_show", {'id': restoran.id}) }}'">

                                    <i class="fas fa-book-open"></i>
                                </button>

                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_restoran_edit", {'id': restoran.id}) }}'">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_restoran_delete",{'id':restoran.id}) }}'">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                          </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
