{% extends 'admin/index.html.twig' %}


{% block title %}Просмотр ресторана{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dropzone/dropzone.css') }}">
    {% endblock %}

{% block content %}
    <div class="container p-2">
        <div class="row d-flex justify-content-start ">
            <div class="col-12">
                <div class="row   p-2">
                    <div class="row">
                        <div class="col-12 col-md-auto ">
                            {% if restorans.imageLink !=null or restorans.imageLink !=""  %}
                                <img id="photo" src="{{ asset('images/uploads/res/' ~ restorans.imageLink) }}" alt="Изображение профиля"
                                     style="width: 200px; display: block; padding: .25rem; border: 1px solid #cdcdcd; border-radius: .25rem;">
                            {% else %}
                                <img id="photo" src="{{ asset('images/bmw_logo.png') }}" alt="Изображение профиля"
                                     style="width: 200px; display: block; padding: .25rem; border: 1px solid #cdcdcd; border-radius: .25rem;">
                            {% endif %}
{#                            {% if session_u  == users.id and users.userroles == 'ROLE_ADMIN' %}#}
                                {% if session_u  == users.id %}
                                    <button type="button" class="btn btn-outline-info"data-toggle="modal" data-target="#avatarModal"> Изменить изображение</button>
                                {% endif %}
                        </div>

                        <h3 class="col-md-10 col-sm-12">Информация о ресторане: &nbsp; {{ restorans.getName() }}</h3>
                    <div class="col-md-2 col-sm-12 btn-group" role="group" aria-label="Action">
                        <button class=" btn btn-secondary"
                                onclick="location.href='{{ path("admin_restoran_edit", {'id': restorans.id}) }}'">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="  btn btn-secondary"
                                onclick="location.href='{{ path("admin_restoran_delete", {'id': restorans.id}) }}'">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="  btn btn-secondary" onclick="location.href='{{ path("admin_restoran_index") }}'">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Идентификатор</td>
                    <td>{{ restorans.getId() }}</td>

                </tr>
                <tr>
                    <td>Системное имя роли</td>
                    <td>{{ restorans.getName() }}</td>
                </tr>
                <tr>
                    <td>Товары</td>
                    <td>

                {% for tovar in restorans.tovars %}
                    <button class="btn btn-info m-1" title="{{ tovar.getName() }}"
                            onclick="location.href='{{ path("admin_tovar_show", {'id': tovar.getId}) }}'">
                        {{ tovar.getName() }}
                    </button>
                {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>





    <!-- Модальное окно для загрузки фотографии -->
    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="avatarModalLabel">Загрузите фотографию</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div id="dropzone" class="dropzone dropzone-previews"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/lib/dropzone.js') }}"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(()=>{
            let filesList = [];
            // init,configure dropzone

            $('#dropzone').dropzone({
                url: '{{ path('admin_restoran_upload', {'id': restorans.id}) }}',
                maxFiles: 1,
                acceptedFiles: 'image/png,.jpg',
                maxFilesize: 5,  // in Mb
                addRemoveLinks: true,

                thumbnailWidth:"100%",
                thumbnailHeight:"100%",

                dictMaxFilesExceeded: "Вы можете загрузить только одну фотографию",
                dictRemoveFileConfirmation: "Вы уверены, что хотите удалить фотографию?",
                dictDefaultMessage: "Перетащите сюда ваше изображение, чтобы загрузить его.",
                dictInvalidFileType: "Выбранный вами формат файла не поддерживается.",

                init: function () {
                    $(this).addClass('dropzone');
                    this.on('maxfilesexceeded', function (file) {
                        this.removeFile(file);
                        alert(this.options.dictMaxFilesExceeded);
                        $('.dropzone').addClass("dz-started");
                    });
                    this.on('success', function (file, response) {
                        if (response.uploaded) {
                            this.emit('thumbnail', file, "/images/restoran/" + response.filename);
                            $('#photo').attr('src', '{{ '/images/restoran/' }}'+ response.filename);
                            filesList[filesList.length] = file;
                        }
                    });
                    this.on('removedfile', function (file) {
                        if (filesList.includes(file)) {
                            $.ajax({
                                type: 'POST',
                                url: '{{ path('admin_restoran_deletePhoto', {'id': restorans.id}) }}',
                                success: function(){
                                    $('#photo').attr('src', '{{ asset('images/icon_restoran.jpg') }}');
                                }
                            });

                            filesList.splice(filesList.indexOf(file), 1);

                            this.options.maxFiles = 1;
                        }
                    });
                    {% if image is defined %}
                    let mockFile = {
                        name: '{{ image }}',
                        size: {{ size }},
                        type: '{{ type }}'
                    };
                    this.emit('addedfile', mockFile);
                    {% if image is defined %}
                    this.emit('thumbnail', mockFile, "{{ asset('images/restoran/' ~ image) }}");
                    {% else %}
                    this.emit('thumbnail', mockFile, "{{ asset('images/icon_restoran.jpg') }}");
                    {% endif %}
                    this.emit('complete', mockFile);
                    filesList[filesList.length] = mockFile;
                    this.options.maxFiles = 0;
                    {% endif %}
                }
            });
        });
    </script>



{% endblock %}