.basket
{
    margin-right: 30px;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.2);
}
.delete
{
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.2);
}
.basket b{
    position: absolute;
    margin-top: -8px;
    margin-left: -5px;
    font-size: 14px;
    color: #ff2900;
}
.basket:hover{
    color: #ff2900;
}
.delete:hover{
    color: #ff2900;
}