.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    font-family: "GothamPro", sans-serif; !important;
}
.box.back {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1;
}
.box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, 0.6);
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    z-index: -1;
}

.overbox .title {
    color: #fff;
}
.overbox .title:before {
    background: #fff;
}

.title {
    width: 100%;
    float: left;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #66CC75;
    position: relative;
}
.title:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: #66CC75;
    /*background: #ED2553;*/
}

.input {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input label, .input input, .input .spin {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button button .button.login button i.fa {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button .shape:before, .material-button .shape:after {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.login button {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button, .alt-2, .material-button .shape, .alt-2 .shape, .box {
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
    width: 100%;
    float: left;
}
.input label, .input input, .input .spin {
    width: 100%;
    float: left;

}

.button {
    width: 100%;
    float: left;
}
.button button {
    width: 100%;
    float: left;
}

.input, .button {
    margin-top: 30px;
    height: 70px;
}

.input {
    position: relative;
}
.input input {
    position: relative;
}

.button {
    position: relative;
}
.button button {
    position: relative;
}

.input input {
    height: 50px;
    top: 20px;
    border: none;
    background: transparent;
    font-family: "GothamPro", sans-serif; !important;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}
.input label {
    font-family: "GothamPro", sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}

.button button {
    font-family: "GothamPro", sans-serif; !important;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;

}

.input:before, .input .spin {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.input .spin {
    background: #66CC75;
    z-index: 4;
    width: 0;
}
.overbox .input .spin {
    background: white;
}
.overbox .input:before {
    background: rgba(255, 255, 255, 0.5);
}

.input label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 60px;
}

.button {
    margin-top: 20px;
    margin: 0px 9px;
    overflow: hidden;
    z-index: 2;
}
.button.login {
    width: 45%;
    left: 0%;
}
.button.login {
    margin-top: 30px;
}
.button button {
    background-color: #fff;
    color: #66CC75;
    border: none;
}
/*.button.login button.active {*/
/*    border: 3px solid transparent;*/
/*    color: #fff !important;*/
/*}*/
/*.button.login button.active span {*/
/*    opacity: 0;*/
/*    transform: scale(0);*/
/*    -webkit-transform: scale(0);*/
/*    -ms-transform: scale(0);*/
/*}*/
/*.button.login button.active i.fa {*/
/*    opacity: 1;*/
/*    transform: scale(1) rotate(0deg);*/
/*    -webkit-transform: scale(1) rotate(0deg);*/
/*    -ms-transform: scale(1) rotate(0deg);*/
/*}*/
.button.login button i.fa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    transform: scale(0) rotate(-45deg);
    -webkit-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
}
.button.login button:hover {
    color: #66CC75;
    border-color: #66CC75;
}
.button button {
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.button.login {
        width: 45%;
        left: 0%;
}.button button {
     width: 100%;
     line-height: 64px;
     left: 0%;
     background-color: transparent;
     border: 3px solid rgba(0, 0, 0, 0.1);
     font-weight: 900;
     font-size: 18px;
     color: rgba(0, 0, 0, 0.2);
 }

.pass-forgot {
    width: 100%;
    float: left;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}

/*.click-efect {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background: #c00a27;*/
/*    border-radius: 50%;*/
/*}*/

.overbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: inherit;
    border-radius: 10px;
    padding: 60px 50px 40px 50px;
}
.overbox .title, .overbox .button, .overbox .input {
    z-index: 111;
    position: relative;
    color: #fff !important;
    display: none;
}
.overbox .title {
    width: 80%;
}
.overbox .input {
    margin-top: 20px;
}
.overbox .input input, .overbox .input label {
    color: #fff;
}
.overbox .material-button, .overbox .alt-2 {
    display: block;
}
.overbox .material-button .shape, .overbox .alt-2 .shape {
    display: block;
}

.material-button, .alt-2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #c00a27;
    position: absolute;
    top: 40px;
    right: -70px;
    cursor: pointer;
    z-index: 100;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
}

.material-button .shape, .alt-2 .shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.material-button .shape:before, .alt-2 .shape:before, .material-button .shape:after, .alt-2 .shape:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before, .alt-2 .shape:before {
    width: 25px;
    height: 4px;
}

.material-button .shape:after, .alt-2 .shape:after {
    height: 25px;
    width: 4px;
}

.material-button.active, .alt-2.active {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(0deg);
    -webkit-transform: translate(50%, -50%) rotate(0deg);
    -ms-transform: translate(50%, -50%) rotate(0deg);
}

body {
    /*background-image: url(https://www.smartcitiesworld.net/AcuCustom/Sitename/DAM/020/Food_AdobeStock_189062803_1_Cropped_1_rm.jpg);*/
    background-image: url(https://images.alphacoders.com/519/519509.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "GothamPro", sans-serif; !important;
    overflow: auto;
}

html {
    overflow: auto;
    font-family: "GothamPro", sans-serif; !important;
}

.materialContainer {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
*:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
.text-zabili-parol a{
    color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s;
}
.text-zabili-parol a:hover{
    color:#c00a27;
}

