.materialContainer{
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: "GothamPro", sans-serif; !important;
}
body {
    background-image: url(https://www.smartcitiesworld.net/AcuCustom/Sitename/DAM/020/Food_AdobeStock_189062803_1_Cropped_1_rm.jpg);
    /*background-image: none;*/
    /*background-color: rgba(206,197,210,0.91);*/
    background-position: center;
    top: 100%;
    background-position-y: -5%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "GothamPro", sans-serif; !important;
    overflow: auto;
}

html {
    overflow: auto;
    font-family: "GothamPro", sans-serif; !important;
}
.button.login {
    width: 70%;
    left: 0%;
    margin: 0px 50px;
}.button button {
     width: 100%;
     line-height: 64px;
     left: 0%;
     background-color: transparent;
     border: 3px solid rgba(0, 0, 0, 0.1);
     font-weight: 900;
     font-size: 18px;
     color: rgba(0, 0, 0, 0.2);
 }
.input input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-family: "GothamPro", sans-serif; !important;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}
.input label {
    font-family: "GothamPro", sans-serif; !important;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}
.input:before, .input .spin {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.input .spin {
    background: #0021c0;
    z-index: 4;
    width: 0;
}

.overbox .input .spin {
    background: white;
}
.overbox .input:before {
    background: rgba(255, 255, 255, 0.5);
}

.input label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 50px;
}
.form-group{
    width: 100%;
    float: left;
    /*height: 70px;*/
    position: relative;
}
.form-group label{
    position: center;
    left: 0;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 10px;
    font-family: "GothamPro", sans-serif; !important;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}
