{% for tovar in tovars %}
    <span id="idtovara" data-tovarid="{{ tovar.id }}" onclick="pop(this)">
    <li>
        {% if tovar.imageLink !=null or tovar.imageLink !="" %}
            <img class="search_img" src="{{ asset('images/uploads/tov' ~ tovar.imageLink) }}" alt="Изображение товара">
        {% else %}
            <img class="search_img" src="{{ asset('images/base/15404524_original.jpg') }}" alt="Изображение товара">
        {% endif %}
        {{ tovar.name }}
        {#        <span id="idtovara" style="visibility: hidden" data-tip="10">{{ tovar.id}}</span>#}
    </li>
    </span>
    {#<tbody>#}
    {#<tr>#}
    {#    <td class="cart-table-img">#}
    {#        <img id="photo" class="card-img-top"#}
    {#             src="{{ asset('images/uploads/res/' ) }}"#}
    {#             alt="{{ tovar.name }}">#}
    {#    </td>#}
    {#    <td class="cart-table-title">#}
    {#        <div class="name">{{ tovar.name }}</div>#}
    {#        #}{#        <div class="desc">{{ tovar.getTip() }}#}
    {#        #}{#            гр.#}
    {#        #}{#        </div>#}
    {#    </td>#}
    {#    <td class="cart-table-price">#}
    {#        <div class="catalog-item-price">{{ tovar.cena }} ₽</div>#}
    {#    </td>#}
    {#    <td class="cart-table-remove">#}
    {#        <button type="button" data-product="{{ tovar.id }}"#}
    {#                data-feature="{{ tovar.id }}"#}
    {#                class="btn btn-outline-success btnOrder">Заказать#}
    {#        </button>#}
    {#    </td>#}
    {#</tr>#}
    {#</tbody>#}
{% endfor %}