{% extends 'admin/index.html.twig' %}
{% block title %} Курьеры{% endblock %}
{% block head%}

{% endblock %}
{% block content %}
        <div class="container-fluid">
        <div class="d-flex justify-content-between p-2">
            <h3>Список курьеров</h3>
            <div>
                <a class="btn btn-secondary" href="{{ path('admin_courier_add') }}"><i
                            class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="table">
                <thead class="thead-black bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Имя курьера</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for courier in couriers %}
                    <tr>
                        <th scope="row">{{ courier.id }}</th>
                        <td>{{ courier.name }}</td>
                        <td class="d-md-inline-flex flex-md-row justify-content-md-end d-flex flex-column justify-content-center">
{#                            <div class="btn-group" role="group" aria-label="Action">#}
{#                                <button class="btn btn-secondary"#}
{#                                        onclick="location.href='{{ path("admin_tovar_show", {'id': tovar.id}) }}'">#}

{#                                    <i class="fas fa-book-open"></i>#}
{#                                </button>#}

{#                                <button class="btn btn-secondary"#}
{#                                        onclick="location.href='{{ path("admin_tovar_edit", {'id': tovar.id}) }}'">#}
{#                                    <i class="fas fa-pencil-alt"></i>#}
{#                                </button>#}

{#                                <button class="btn btn-secondary"#}
{#                                        onclick="location.href='{{ path("admin_tovar_delete",{'id':tovar.id}) }}'">#}
{#                                    <i class="fas fa-trash-alt"></i>#}
{#                                </button>#}
{#                            </div>#}
                          </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

