{% extends 'admin/index.html.twig' %}


{% block title %}Просмотр курьера{% endblock %}

{% block content %}

    <div class="container p-2">
        <div class="row d-flex justify-content-start ">
            <div class="col-12">
                <div class="row   p-2">
                    <h3 class="col-md-10 col-sm-12">Информация о курьере: &nbsp; {{ courier.getName() }}</h3>
                    <div class="col-md-2 col-sm-12 btn-group" role="group" aria-label="Action">
                        <button class=" btn btn-secondary"
                                onclick="location.href='{{ path("admin_courier_edit", {'id': courier.id}) }}'">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="  btn btn-secondary"
                                onclick="location.href='{{ path("admin_courier_delete", {'id': courier.id}) }}'">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="  btn btn-secondary" onclick="location.href='{{ path("admin_courier_index") }}'">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Идентификатор</td>
                    <td>{{ courier.getId() }}</td>

                </tr>
                <tr>
                    <td>Системное имя роли</td>
                    <td>{{ courier.getName() }}</td>
                </tr>
                <tr>
{#                    <td>Катерогия</td>#}
{#                    <td>#}
{#                        {% for category in tovar.getIdCategory() %}#}
{#                            <button class="btn btn-info m-1" title="{{ category.getName() }}"#}
{#                                    onclick="location.href='{{ path("admin_permissions_show", {'id': category.getId}) }}'">#}
{#                                {{ category.getName() }}#}
{#                            </button>#}
{#                        {% endfor %}#}
{#                    </td>#}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
