{% extends 'admin/index.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Добовление продукта{% endblock %}

{% block content %}
    <div class="container m-2">
        <div class=" row justify-content-start">
            <div class="col-12 col-sm-8 col-md-6">
                <h3 class="d-flex justify-content-center">{{ title }}</h3>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.cena) }}
                {{ form_row(form.kolichestvo) }}
                {{ form_row(form.coment) }}
                {{ form_row(form.category) }}
                {{ form_row(form.tip) }}
                {{ form_row(form.restoran) }}
                <div class="row  justify-content-center  m-1">
                    <button class="col-12 btn btn-secondary m-1" onclick="this.document.forms[0].submit();"> Сохранить</button>
                    <button class="col-12 btn btn-secondary m-1" onclick="location.href='{{ path("admin_tovar_index") }}'">Закрыть</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-12 col-sm-8 col-md-6">
                <h3 class="d-flex justify-content-center">{{ title3 }}</h3>
                    {{ form_start(form3) }}
                    {{ form_row(form3.category) }}
                    {{ form_row(form3.characteristic) }}
                    <div class="row  justify-content-center  m-1">
                        <button class="col-5 btn btn-secondary m-1" onclick="this.document.forms[0].submit();"> Сохранить</button>
                        <button class="col-5 btn btn-secondary m-1" onclick="location.href='{{ path("admin_tovar_add") }}'">Закрыть</button>
                    </div>
                    {{ form_end(form3) }}
                <h3 class="d-flex justify-content-center">{{ title4 }}</h3>
                    {{ form_start(form4) }}
                    {{ form_row(form4.tovar) }}
                    {{ form_row(form4.CategoryCharacteristic) }}
                    {{ form_row(form4.value) }}
                    <div class="row  justify-content-center  m-1">
                        <button class="col-5 btn btn-secondary m-1" onclick="this.document.forms[0].submit();"> Сохранить</button>
                        <button class="col-5 btn btn-secondary m-1" onclick="location.href='{{ path("admin_tovar_add") }}'">Закрыть</button>
                    </div>
                    {{ form_end(form4) }}
            </div>

        </div>
    </div>
{% endblock %}

