<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lazzat{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          crossorigin="anonymous">
    {#        <link rel="stylesheet" href="{{ asset('css/login/loginstyle.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/card/resstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login/basket.css') }}">
    <link rel="stylesheet" href="{{ asset('css/orders/oformlenie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/orders/basketoformlenie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lib/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/card/stylecode.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base/search.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base/cardres.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"#}
        {#                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">#}
        {#            <span class="navbar-toggler-icon"></span>#}
        {#        </button>#}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand " href="{{ path('homepage') }}"><h1>Laz<span class="lazzarlogo">zat</span></h1></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item main mr-2">
                    <a href="#">Ресторанам</a>
                    <hr class="shapkaspin">
                </li>
                <li class="nav-item main">
                    <a href="#">Курьерам</a>
                    <hr class="shapkaspin">
                </li>
            </ul>
            {#            {% if session_u  == users.id %}#}
            {#                <button type="button" class="btn btn-outline-info"data-toggle="modal" data-target="#avatarModal"> {{session_u.getName()}}</button>#}
            {#            {% endif %}#}

            <span class="searchspan">
                    <input type="text" class="searchText" id="searchText" value="" placeholder="Поиск..." autocomplete="off">
                    <ul class="search_result"></ul>
{#                    <button class="butser">by</button>#}
                </span>
            <a href="{{ path('order') }}"><i class="fas fa-shopping-basket basket fa-2x">
                    <b>{{ app.session.get('chet') }}</b>
                </i>
            </a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>Username: {{ app.user.username }}</p>
{#                {{ session_u.getId() }}#}
            {% endif %}
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_login') }}" class="button-main login">
                    <button type="submit">Войти</button>
                </a>

            {% endif %}
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 mt-2 mb-4">
                <div class="card">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                     src="https://kidpassage.com/images/publications/eda-sankt-peterburge-chto-poprobovat-skolko-stoit/cover_original.jpg"
                                     alt="Первый слайд">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="https://moe-online.ru/media_new/6/3/2/8/0/5/material_1007277/original_photo-thumb_650.jpg"
                                     alt="Второй слайд">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="https://russiaedu.ru/media/cache/image_md_resize/uploads/upload-images/2019/12/05/b_img5de908746e39d3.43406923.jpg"
                                     alt="Третий слайд">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% if tips is empty %}
                        <div class="card-body mt-2">
                            <button type="button" class="btn btn-light btn-action btn-lg" id="bvse"><i
                                        class="fas fa-infinity"></i>Все
                            </button>
                            <button type="button" class="btn btn-light btn-lg" id="burger"><i
                                        class="fas fa-hamburger"></i> Бургеры
                            </button>
                        </div>
                    {% else %}
                        <div class="card-body mt-2">
                            {#                        {% for tip in tips %}#}
                            <button type="button" class="btn btn-light btn-action btn-lg blocksart" data-tip="1"><i
                                        class="fas fa-infinity"></i>Все
                            </button>
                            <button type="button" class="btn btn-light btn-lg blocksart"
                                    data-tip="2">
                                <i class="fas fa-hamburger"></i>Бургеры
                            </button>
                            <button type="button" class="btn btn-light btn-lg blocksart" data-tip="3">
                                <i class="fas fa-pizza-slice"></i>Пицца
                            </button>
                            <button type="button" class="btn btn-light btn-lg blocksart" data-tip="4">
                                <img src="https://www.flaticon.com/premium-icon/icons/svg/1953/1953617.svg"
                                     width="25" height="25" alt="Shawarma" title="Shawarma"> Стейки</img></button>
                            {#                        <button type="button" class="btn btn-light btn-lg"><i class="fas fa-egg"></i> Завтраки</button>#}
                            {#                        <button type="button" class="btn btn-light btn-lg">#}
                            {#                            <img src="https://www.flaticon.com/premium-icon/icons/svg/1159/1159239.svg"#}
                            {#                                 width="23" height="23" alt="Shawarma" title="Shawarma"> Шаверма</img></button>#}
                            {#                        <button type="button" class="btn btn-light btn-lg">#}
                            {#                            <img src="https://image.flaticon.com/icons/svg/637/637156.svg"#}
                            {#                                 width="23" height="23" alt="Sushi" title="Sushi"> Суши</img></button>#}
                            {#                        <button type="button" class="btn btn-light btn-lg"><i class="fas fa-mug-hot"></i> Кофе</button>#}
                            {#                        <button type="button" class="btn btn-light btn-lg">#}
                            {#                            <img src="https://image.flaticon.com/icons/svg/706/706133.svg"#}
                            {#                                 width="23" height="23" alt="Shawarma" title="Shawarma"> Здоровая еда</img> </button>#}
                            {#                        <i class="fa fa-hamburger"></i>#}
                            &#x2605;
                            &#x210B;
                            {#                    {% endfor %}#}
                        </div>
                    {% endif %}
                    <hr class="featurette-divider">
                    <div class="container-fluid mb-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-11">
                                <p>
                                <h2>Рестораны</h2></p>
                                <div id="blocksart">
                                    {{ blocksart | raw }}
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>

{#<script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>#}
{#<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>#}

<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('js/login/js.js') }}"></script>
<script src="{{ asset('js/lib/popper.min.js') }}"></script>
<script src="{{ asset('js/search/livesearch.js') }}"></script>
<script src="{{ asset('js/base/modalka.js') }}"></script>
<script src="{{ asset('js/lib/jquery.fancybox.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{#<script src="https://code.jquery.com/jquery-3.4.1.min.js"#}
{#        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
{#        crossorigin="anonymous"></script>#}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.blocksart').on('click', function () {
                let url = '{{ path('blocksart_homepage') }}';
                let data = {
                    tip_id: $(this).parent().find('input[type=radio]:checked').attr('data-value')
                };
                if (!$(this).parent().find('input[type=radio]:checked').attr('data-value'))
                    data.tip_id = $(this).attr('data-tip');
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: data,
                    beforeSend: function () {
                        $('#loader').html('<div class="lds-dual-ring"></div>');
                    }
                }).done(function (response) {
                    $('#blocksart').html(response);

                });
            });
            $('.slider').slick({
                autoplay: true,
                autoplayspeed: 10000,
                infinite: true,
                speed: 600,
                prevArrow: '<button type="button" class="slick-prev"></button>',
                nextArrow: '<button type="button" class="slick-next"></button>',

            });

            $('.right-slider').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                autoplayspeed: 10000,
                infinite: true,
                speed: 600,
                prevArrow: '<button type="button" class="slick-prev"></button>',
                nextArrow: '<button type="button" class="slick-next"></button>',
            });
        });


    </script>
{% endblock %}
</body>
</html>