{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/card/stylecode.css') }}">
        <link rel="stylesheet" href="{{ asset('css/basket/basket.css') }}">
    {% endblock %}
{% block body %}
    <div class="container-fluid mt-2 mb-4">
        <div class="row justify-content-center mr-2">
            <div class="col-12 col-md-12 col-lg-9 content-containe">
                <div class="card">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://apollo-8.ru/wp-content/uploads/2017/10/blog-top.jpg"
                             alt="Card image">
                        <div class="card-img-overlay" data-res="{{ res }}">
                            <h5 class="card-title">{{ restorans.name }}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text">Cena</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                    <div class="container-fluid mb-3">
                        <div class="row justify-content">
                            <div class="col-12 col-lg-12">
                                <p>
                                <h2>Популярные блюда</h2></p>
                                <div class="flexbox">
                                    <div class="featured_products">
                                        {% for tovar in tovars %}
                                            <div class="f_products">
                                                <div class="f_poroducts_item">
                                                    <div class="fp_img" data-tovarid="{{ tovar.id }}"
                                                         onclick="pop(this)">
                                                        {% if tovar.imageLink !=null or tovar.imageLink !="" %}
                                                            <img src="{{ asset('images/uploads/tov' ~ tovar.imageLink) }}"
                                                                 alt="Изображение товара">
                                                        {% else %}
                                                            <img src="{{ asset('images/base/15404524_original.jpg') }}"
                                                                 alt="Изображение товара">
                                                        {% endif %}
                                                    </div>
                                                    <div class="fp_text">
                                                        {{ tovar.name }}
                                                        <p>
                                                            <span class="restoran">{{ restorans.name }}</span>
                                                        </p>
                                                        <span class="name">{{ tovar.coment }}</span>
                                                        <br>
                                                        <span class="price">&#8381; {{ tovar.cena }}</span>
                                                        <button type="button" data-restoran="{{ restorans.id }}"
                                                                data-feature="{{ tovar.id }}"
                                                                class="vbasket btnOrder">В корзину
                                                        </button>

                                                    </div>

                                                    {#                                                    <div class="new">#}
                                                    {#                                                        <img src="https://picua.org/images/2019/04/15/cb85d4fa77875ca446b0e24e376cfe26.png" alt="">#}
                                                    {#                                                    </div>#}
                                                    {#                                                    <div class="sale">#}
                                                    {#                                                        <img src="https://picua.org/images/2019/04/15/9123f17c4e41630c03caf4a80ee6fd79.png" alt="">#}
                                                    {#                                                    </div>#}
                                                </div>
                                            </div>

                                            {#                                        <div class="food-card"#}
                                            {#                                             style="background-image:url('https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">#}
                                            {#                                            #}{#                                                {% if tovar.imageLink !=null or tovar.imageLink !=""  %}#}
                                            {#                                            #}{#                                                    <img id="photo" class="card-img-top" src="{{ asset('images/uploads/res/' ~ tovar.imageLink) }}" alt="Изображение ресторана">#}
                                            {#                                            #}{#                                                {% else %}#}
                                            {#                                            #}{#                                                    <img id="photo" class="card-img-top" src="{{ asset('images/bmw_logo.png') }}" alt="Изображение ресторана">#}
                                            {#                                            #}{#                                                {% endif %}#}
                                            {#                                            <div class="food-card-content">#}
                                            {#                                                <div class="heading show">#}
                                            {#                                                    <h2>{{ tovar.name }}</h2>#}
                                            {#                                                    <div class="shadow"></div>#}
                                            {#                                                </div>#}
                                            {#                                                <div class="heading author show">#}
                                            {#                                                    <h5>By <a href="#profile" class="profile">Jyotirmoy Barman</a></h5>#}
                                            {#                                                    <div class="shadow"></div>#}
                                            {#                                                </div>#}
                                            {#                                                <div class="hover-content">#}
                                            {#                                                    <div class="food-card-properties">#}
                                            {#                                                        <div><i class="fa fa-clock-o"></i>#}
                                            {#                                                            <p>5 min</p></div>#}
                                            {#                                                        <div><i class="fa fa-star" style="color:yellow"></i>#}
                                            {#                                                            <p>4.2(121 votes)</p></div>#}
                                            {#                                                        <div><i class="fa fa-money"></i>#}
                                            {#                                                            <p>&#8381; {{ tovar.cena }}</p></div>#}
                                            {#                                                    </div>#}
                                            {#                                                    <hr>#}
                                            {#                                                    <div class="content">{{ tovar.coment }}#}
                                            {#                                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.#}
                                            {#                                                        Eligendi voluptas, possimus omnis nostrum, voluptates quas, at#}
                                            {#                                                        autem minus harum excepturi ut perspiciatis. Ducimus nobis#}
                                            {#                                                        consequatur voluptas soluta. Quos, commodi doloribus?#}
                                            {#                                                        <div class="show-less"></div>#}
                                            {#                                                    </div>#}
                                            {#                                                    <a href="#" class="view-more">View More-></a>#}

                                            {#                                                </div>#}
                                            {#                                            </div>#}
                                            {#                                        </div>#}
                                            {#                                            <button type="button" data-product="{{ tovar.id }}"#}
                                            {#                                                    data-feature="{{ tovar.id }}"#}
                                            {#                                                class="btn btn-outline-success btnOrder">Заказать#}
                                            {#                                        </button>#}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5  col-lg-3 navbar-container bg-white ">
                {#                    </div>#}
                {#                    <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-4 order-2" id="sticky-sidebar">#}
                <div class="sticky-top">
                    <div class="card">
                        <div class="card-body" style="width: 100%" id="basket">
                            {{ basket | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-0" id="main">
                {% if success is defined %}
                    <div class="row">
                        <div class="alert alert-success" role="alert">
                            <p>Спасибо за заказ! С вами свяжетсвя менеджер!</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            let count = $('.total-sum').html() === $('.total-sum') ? '' : $('.total-sum').html();
            $('i.basket').html('<b>' + count + '</b>');
            $('i.basket').html('<b>' + $('.total-sum').html() + '</b>');
            sessionStorage['chet'] = count;
            $('.btnOrder').on('click', function () {
                let url = '{{ path('basket',{'res':res}) }}';
                let data = {
                    feature_id: $(this).parent().find('input[type=radio]:checked').attr('data-value'),
                    restoran_id: $(this).parent().find('input[type=radio]:checked').attr('data-value'),
                };
                if (!$(this).parent().find('input[type=radio]:checked').attr('data-value')) {
                    data.feature_id = $(this).attr('data-feature');
                    data.restoran_id = $(this).attr('data-restoran');
                }
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: data,
                    beforeSend: function () {
                        $('#loader').html('<div class="lds-dual-ring"></div>');
                    }
                }).done(function (response) {
                    $('#basket').html(response);
                    $('i.basket').html('<b>' + $('.total-sum').html() + '</b>');

                });
            });


        });

    </script>
{% endblock %}

