{% extends 'admin/index.html.twig' %}


{% block title %}Просмотр заказа{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
    {% endblock %}

{% block content %}
    <div class="container p-2">
        <div class="row d-flex justify-content-start ">
            <div class="col-12">
                <div class="row   p-2">
                    <div class="row">
                        <h3 class="col-md-10 col-sm-12">Заказ: &nbsp; {{ zakaz.id }}</h3>
                        <div class="col-md-2 col-sm-12 btn-group" role="group" aria-label="Action">
                            {#                        <button class="btn btn-secondary"#}
                            {#                                onclick="location.href='{{ path("admin_tip_edit", {'id':tip.id}) }}'">#}
                            {#                            <i class="fas fa-pencil-alt"></i>#}
                            {#                        </button>#}
                            {#                        <button class="btn btn-secondary"#}
                            {#                                onclick="location.href='{{ path("admin_tip_delete",{'id':tip.id}) }}'">#}
                            {#                            <i class="fas fa-trash-alt"></i>#}
                            {#                        </button>#}
                            <button class="  btn btn-secondary" onclick="location.href='{{ path("admin_tip_index") }}'">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Идентификатор</td>
                    <td>{{ zakaz.getId() }}</td>

                </tr>
                <tr>
                    <td>Общая сумма заказа</td>
                    <td>{{ zakaz.summa }}</td>
                </tr>
                <tr>
                    <td>Статус заказа</td>
{#                    <td>{{ zakaz.status }}#}
                        <button class="btn btn-success"
                                onclick="location.href='{{ path("admin_zakazi_success", {'id':zakaz.id}) }}'">
                            Принят заказ
                        </button>
                        <button class="btn btn-danger"
                                onclick="location.href='{{ path("admin_zakazi_delete", {'id':zakaz.id}) }}'">
                            Удалить заказ
                        </button></td>
                </tr>
                <tr>
                    <td>Заказчик</td>
                    <td>
                        {% if zakaz.getIdUseradres().getIdGuest() == null %}
                            Пользователь, {{ i.getIdUseradres().getIdUser().getUsername() }}
                        {% else %}
                            Гость, {{ zakaz.getIdUseradres().getIdGuest().getGuestname() }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Товары</td>
                    <td>
                        {{ zakaz.idTovar.name }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
