{% extends 'admin/index.html.twig' %}
{% block title %}Заказы{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between p-2">
            <h3>Список заказов</h3>
            <div>
                <a class="btn btn-secondary" href="{{ path('admin_zakazi_add') }}"><i
                            class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="table">
                <thead class="thead-black bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Название заказа</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for i in zakaz %}
                    <tr>
                        <th scope="row">{{ i.id }}</th>
                        <th scope="row">{{ i.getSumma() }}</th>
                        <th scope="row">{{ i.getIdTovar().getId() }}</th>
                        <th scope="row">{{ i.getIdTovar().getName() }}</th>
                        {% if i.getIdUseradres().getIdGuest() == null %}
                            <th scope="row">{{ i.getIdUseradres().getIdUser().getUsername() }}</th>
                        {% else %}
                            <th scope="row">{{ i.getIdUseradres().getIdGuest().getGuestname() }}</th>
                        {% endif %}
                        {#                        {% if i.getStatus().getId() is null %}#}
                        {#                            <th scope="row">null</th>#}
                        {#                        {% else %}#}
                        {#                            <th scope="row">{{ i.getStatus().getId() }}</th>#}
                        {#                        {% endif %}#}
                        <td class="d-md-inline-flex flex-md-row justify-content-md-end d-flex flex-column justify-content-center">
                            <div class="btn-group" role="group" aria-label="Action">
                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_zakazi_show", {'id': i.id}) }}'">
                                    <i class="fas fa-book-open"></i>
                                </button>
                                {#                                <button class="btn btn-secondary"#}
                                {#                                        onclick="location.href='{{ path("admin_tip_edit", {'id': i.id}) }}'">#}
                                {#                                    <i class="fas fa-pencil-alt"></i>#}
                                {#                                </button>#}
                                <button class="btn btn-danger"
                                        onclick="location.href='{{ path("admin_zakazi_delete", {'id':i.id}) }}'">
                                    Удалить заказ
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
