.slider-block{
    width: 233px;
    height: 485px;
    border-top: 4px solid #4CB1CA;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    text-align: center;

}
.sb-text-block{
    padding: 17px 60px 7px;
}
.sb-text{
    font-size: 24px;
    text-transform: uppercase;
    color: #635f57;
}
.featured_products{
    padding-top: 40px;
    margin-right: -30px;
}
.f_products{
    display:flex;
    flex-wrap: wrap;
    height: 1060px;
    margin-top: 17px;
}
.featured_text{
    font-size: 24px;
    text-transform: uppercase;
    color: #635f57;

}
.f_products .f_poroducts_item{
    width: 286px;
    height: 370px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    margin: 15px 14px;
}
.f_poroducts_item .fp_img{
    width: 270px;
    height: 230px;
    margin: 8px 8px ;
    background-color: #EFF1F0;
}

.f_poroducts_item .fp_img img{
    width: 270px;
    height: 230px;
    position: relative;

}

body  .f_poroducts_item .fp_text{
    padding-top: 3px;
    padding-left: 10px;

}
.f_poroducts_item .sale {
    display: inline-block;
    position: relative;
    bottom: 301px;
    right: 5px;
}
.f_poroducts_item .new {
    display: inline-block;
    position: relative;
    bottom: 300px;
    left: 138px;

}
.fp_text .name{
    font-size: 14px;
    color: #464148;
}
.fp_text .del-prise{
    font-size: 14px;
    color: #464148;
    margin-right: 5px;
}

.fp_text .price {
    font-size: 18px;
    color: #66CC75;
}
.f_poroducts_item {
    float: right;
    position: relative;
    bottom: 20px;
    right: 13px;
}

.vbasket{
    outline: none;
    position: relative;
    width: 120px;
    line-height: 30px;
    float: right;
    right: 13px;
    background-color: transparent;
    border: 2px solid #66CC75;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.vbasket:hover{
    outline: none;
    background-color: #66CC75;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.vbasket:after{
    outline: none;
}

.fp_img:hover img{
    margin: -8px;
    width: 286px;
    height: 246px;
    border: 1px solid #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


