{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/lib/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/orders/oformlenie.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/base/shapkamail.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base/search.css') }}">
        <link rel="stylesheet" href="{{ asset('css/radio/orderradio.css') }}">
    {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-11 mt-2 mb-4">
                <div class="card">
                    <div class="card-body mt-2">
                        <h5 class="card-title">Корзина</h5>
                        {% if features is empty %}
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <p>Записи отсутствуют.</p>
                                </div>
                            </div>
                        {% else %}

                            {#                            <div class="row">#}
                            {#                                <div class="col-12 p-0 mt-1">#}
                            {#                                    <div class="alert alert-primary" role="alert">#}
                            {#                                        <div class="row justify-content-between">#}
                            {#                                            <div class="col-auto">{{ i.count }} {{ i.feature.name }} {{ i.feature.cena }}</div>#}
                            {#                                            <div class="col-auto">#}
                            {#                                                <a class="btn btn-outline-danger"#}
                            {#                                                   href="{{ path('deleteOrder', {'id':i.feature.id}) }}">Удалить</a>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="cart-list">
                                <table class="cart-table">
                                    <div id="loader"></div>
                                    {% for i in products %}
                                        <tbody>
                                        <tr>
                                            <td class="cart-table-img">
                                                <img id="photo" class="card-img-top"
                                                     src="{{ asset('images/uploads/res/' ) }}"
                                                     alt="{{ i.feature.name }}">
                                            </td>
                                            <td class="cart-table-title">
                                                <div class="name">{{ i.feature.name }}</div>
                                                {#                                                <div class="desc">{{ i.feature.getIdCategory().name }}#}
                                                {#                                                    гр.#}
                                                {#                                                </div>#}
                                            </td>
                                            <td class="cart-table-qty">
                                                <div class="qty-col">
                                                    <div class="qty" data-value="">
                                                        <a class="qty-minus"
                                                           href="{{ path('minusOrder', {'id':i.feature.id, 'per':1,'res':1}) }}">
                                                        </a>
                                                        <input type="tel" class="qty-input" value="{{ i.count }}"
                                                               readonly>
                                                        <a class="qty-plus"
                                                           href="{{ path('plusOrder', {'id':i.feature.id, 'per':1,'res':1}) }}">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart-table-price">
                                                <div class="catalog-item-price">{{ i.feature.cena }} ₽</div>
                                            </td>
                                            <td class="cart-table-remove">
                                                <a class="cart-table-remove-link"
                                                   href="{{ path('deleteOrder', {'id':i.feature.id,'per':1,'res':1}) }}"><i
                                                            class="fas fa-minus-circle delete fa-2x"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                    <tfoot>
                                    <tr>
                                        <td colspan="3" class="cart-table-sum">Итого</td>
                                        <td class="cart-table-price">
                                            <div class="catalog-item-price">{{ sum }} ₽</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="cart-table-sum">Всего</td>
                                        <td class="cart-table-price">
                                            <div class="catalog-item-price">{{ sum }} ₽</div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>


                        {% endif %}
                        {#                        <form>#}
                        {#                            <div class="checkout-group">#}
                        {#                                <div class="checkout-group-title">Куда доставить?</div>#}
                        {#                                <div class="form-group form-delivery-method">#}
                        {#                                    <div class="radio-set radio-set-inline">#}
                        {#                                        <label class="radio-item" onclick="updateCheckout({'action': 'change_shipping', 'shipping_method': 'free.free'});">#}
                        {#                                            <input type="radio" name="shipping_method" value="free.free" id="free.free" checked="checked">#}
                        {#                                            <span class="radio-item-text">Доставка</span>#}
                        {#                                        </label>#}
                        {#                                        <label class="radio-item" onclick="updateCheckout({'action': 'change_shipping', 'shipping_method': 'pickup.pickup'});">#}
                        {#                                            <input type="radio" name="shipping_method" value="pickup.pickup" id="pickup.pickup">#}
                        {#                                            <span class="radio-item-text">Самовывоз</span>#}
                        {#                                        </label>#}
                        {#                                    </div>#}
                        {#                                </div>#}

                        {#                                <div class="checkout-delivery">#}
                        {#                                    <div class="col-md-9">#}
                        {#                                        <div class="form-group">#}
                        {#                                            <label class="form-label">Имя</label>#}
                        {#                                            <input type="text" class="form-control" name="firstname" value="" placeholder="Введите свое имя">#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="col-md-9">#}
                        {#                                        <div class="form-group">#}
                        {#                                            <label class="form-label">Телефон</label>#}
                        {#                                            <input type="text" class="form-control" name="telephone" value="" placeholder="+7 (ХХХ) ХХХ-ХХ-ХХ" required="">#}
                        {#                                        </div>#}
                        {#                                    </div>#}

                        {#                                    <div class="col-md-9">#}
                        {#                                        <div class="form-group">#}
                        {#                                            <label class="form-label">Email</label>#}
                        {#                                            <input type="text" class="form-control" name="email" value="" placeholder="Введите email" required="">#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="col-md-9">#}
                        {#                                        <div class="form-group">#}
                        {#                                            <label class="styled-check checkout-check" onchange="updateCheckout({'register': '1'});">#}
                        {#                                                <input type="checkbox" name="register" id="check-register">#}
                        {#                                                <span class="styled-check-text">Зарегистрироваться на сайте</span>#}
                        {#                                            </label>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="row">#}
                        {#                                        <div class="col-md-9">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label">Улица</label>#}
                        {#                                                <input type="text" class="form-control" value="" name="street" placeholder="Введите свою улицу">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-md-3 col-6">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label" for="1">Номер дома</label>#}
                        {#                                                <input type="text" class="form-control" id="1" name="1" value="" placeholder="Номер дома">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-md-3 col-6">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label" for="3">Квартира</label>#}
                        {#                                                <input type="text" class="form-control" id="3" name="3" value="" placeholder="Квартира">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-md-3 col-6">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label" for="2">Подъезд</label>#}
                        {#                                                <input type="text" class="form-control" id="2" name="2" value="" placeholder="Подъезд">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-md-3 col-6">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label" for="4">Код двери</label>#}
                        {#                                                <input type="text" class="form-control" id="4" name="4" value="" placeholder="Код двери">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-md-3 col-6">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label" for="8">Этаж</label>#}
                        {#                                                <input type="text" class="form-control" id="8" name="8" value="" placeholder="Этаж">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}

                        {#                            </div>#}
                        {#                            <div class="checkout-group">#}
                        {#                                <div class="checkout-group-title">Способ оплаты</div>#}
                        {#                                <div class="checkout-payment">#}
                        {#                                    <div class="form-group">#}
                        {#                                        <div class="radio-set radio-set-inline">#}
                        {#                                            <label class="radio-item" onchange="updateCheckout({'action': 'change_payment', 'payment_method': 'bank_transfer'});">#}
                        {#                                                <input type="radio" name="payment_method" value="bank_transfer" id="bank_transfer" checked="checked">#}
                        {#                                                <span class="radio-item-text">Картой курьеру</span>#}
                        {#                                            </label>#}
                        {#                                            <label class="radio-item" onchange="updateCheckout({'action': 'change_payment', 'payment_method': 'cod'});">#}
                        {#                                                <input type="radio" name="payment_method" value="cod" id="cod">#}
                        {#                                                <span class="radio-item-text">Наличными курьеру</span>#}
                        {#                                            </label>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="row">#}
                        {#                                        <div class="col-sm-6">#}
                        {#                                            <div class="form-group">#}
                        {#                                                <label class="form-label" for="6">Количество персон</label>#}
                        {#                                                <input type="text" class="form-control" id="6" name="6" value="" placeholder="Количество персон">#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="form-group">#}
                        {#                                        <label class="styled-check checkout-check">#}
                        {#                                            <input type="checkbox" name="agree">#}
                        {#                                            <span class="styled-check-text">Нажимая на кнопку «Оформить», вы даёте согласие на обработку своих персональных данных, в соответствии с <a href="/index.php?route=information/information&amp;information_id=3">«Политикой конфиденциальности»</a></span>#}
                        {#                                        </label>#}
                        {#                                        <button type="button" class="btn btn-primary btn-big checkout-submit-btn" onclick="updateCheckout({'action': 'save'});">Оформить заказ#}
                        {#                                        </button>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </form>#}

                        <div class="row">
                            <div class="container content">
                                <div class="row justify-content-center">
                                    <div class="col-4 pt-4">
                                        <h3>Оформление заказа</h3>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <div class="containerr">
                                                <form class="radioform">
                                                    {% for adres in adress %}
                                                        <p>
                                                            <label class="radiolabel">
                                                                <input type="radio" class="radioinput" name="radio"/>
                                                                <span class="radiospin">{{ adres.idAdres.id }},{{ adres.idAdres.city }},{{ adres.idAdres.getCity() }}</span>
                                                            </label><br><br>
                                                        </p>
                                                    {% endfor %}
                                                </form>
                                            </div>
                                            <div class="resetradio">
                                                <a href="" id="clear-button">Сброс</a>
                                            </div>
                                            <a href="#" onclick="showHide('formadres')">Указать новый адрес</a>
                                            <div id="formadres" style="display: none">
                                                {{ form_start(form) }}
                                                {{ form_row(form.city) }}
                                                {{ form_row(form.street) }}
                                                {{ form_row(form.house) }}
                                                {{ form_row(form.porch) }}
                                                {{ form_row(form.apartment) }}
                                                <button class="vbasket btnOrder" onclick="this.document.forms[0].submit();"> Заказать</button>

                                                {{ form_end(form) }}
                                            </div>
                                        {% endif %}
                                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <div id="formadres">
                                                {{ form_start(form) }}
                                                {{ form_row(form.guestname) }}
                                                {{ form_row(form.guestphone) }}
                                                {{ form_row(form.city) }}
                                                {{ form_row(form.street) }}
                                                {{ form_row(form.house) }}
                                                {{ form_row(form.porch) }}
                                                {{ form_row(form.apartment) }}
                                                <button class="vbasket btnOrder" onclick="this.document.forms[0].submit();"> Заказать</button>

                                                {{ form_end(form) }}
                                            </div>
                                        {% endif %}
{#                                        <button type="button" id="btnOrderForm" class="vbasket btnOrder">Заказать#}
{#                                        </button>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            // let count = $('.total-sum').html() === undefined ? '' : $('.total-sum').html();
            // $('i.basket').html('<b>' + count + '</b>');
            // $('i.basket').html('<b>' + $('.total-sum').html() + '</b>');
            $('#btnOrderForm').on('click', function (e) {
                e.preventDefault();
                let url = '{{ path('order') }}';
                let data = $('#formOrder').serialize();
                alert(data);
                $.ajax({
                    method: 'GET',
                    url: url,
                    data:data,
                }).done(function (response) {
                    if (response.status === "success") {
                        swal({
                            icon: "success",
                            title: "Успешно!",
                            text: "Спасибо за заказ, с вами свяжется менеджер!"
                        }).then(function () {
                            location.reload();
                        });
                    } else {
                        swal({
                            icon: "error",
                            title: "Упс!",
                            text: "Проверьте правильность заполнения полей"
                        });
                    }
                });
                return false;
            });
        });

        function showHide(element_id) {
            if (document.getElementById(element_id)) {
                var obj = document.getElementById(element_id);
                if (obj.style.display !== "block") {
                    obj.style.display = "block"; //Показываем элемент
                } else obj.style.display = "none"; //Скрываем элемент
            }
            else alert("Элемент с id: " + element_id + " не найден!");
        }
    </script>
{% endblock %}