<div class="progress">
    {% if zakaz.getStatus().getId() == 1 %}
    <div class="circle done">
        <span class="label statusid" id="statusid" data-value="{{ zakaz.getStatus().getId()}}">{{ zakaz.getStatus().getId()}}</span>
        <span class="title">{{ zakaz.getStatus().getName()}}</span>

    </div>
    <span class="bar done"></span>
   {% endif %}
    {% if zakaz.getStatus().getId() == 2 %}
    <div class="circle done">
        <span class="label"  data-lavue="{{ zakaz.getStatus().getId()}}">{{ zakaz.getStatus().getId()}} </span>
        <span class="title">{{ zakaz.getStatus().getName()}}</span>

    </div>
    <span class="bar active"></span>
    {% endif %}
    {% if zakaz.getStatus().getId() == 3 %}

    <div class="circle active">
        <span class="label">3</span>
        <span class="title">Payment</span>
    </div>
    <span class="bar"></span>
    {% endif %}
</div>