{% extends 'admin/index.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Добавление права доступа{% endblock %}

{% block content %}
    <div class="container m-2">
        <div class=" row justify-content-start ">
            <div class="col-12 col-sm-8 col-md-6">
                <h3 class="d-flex justify-content-center">{{ title }}</h3>
                {{ form(form, {'method':'POST'}) }}
                <div class="row  justify-content-center  m-1">
                    <button class="col-12 btn btn-secondary m-1" onclick="document.forms[0].submit();">Сохранить
                    </button>
                    <button class="col-12 btn btn-secondary m-1"
                            onclick="location.href='{{ path("admin_permissions_index") }}';">Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}