{% extends 'admin/index.html.twig' %}
{% block title %}Список прав доступа{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="d-flex justify-content-between p-2">
            <h3>Список прав доступа</h3>
            <div>
                <a class="btn btn-secondary" href="{{ path('admin_permissions_add') }}"><i class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="table">
                <thead class="thead-black bg-warning">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Название</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                    <tr>
                        <th scope="row">{{ permission.getId() }}</th>
                        <td>{{ permission.getName() }}</td>
                        <td class="d-md-inline-flex flex-md-row justify-content-md-end d-flex flex-column justify-content-center">
                            <div class="btn-group" role="group" aria-label="Action">
                                <button class="btn btn-secondary"
                                        onclick="location.href='{{ path("admin_permissions_show", {'id': permission.id}) }}'">
                                    <i class="fas fa-book-open"></i>
                                </button>
                                <button class=" btn btn-secondary"
                                        onclick="location.href='{{ path("admin_permissions_edit", {'id': permission.getId()}) }}'">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button class="  btn btn-secondary"
                                        onclick="location.href='{{ path("admin_permissions_delete", {'id': permission.id}) }}'">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}