{% extends 'admin/index.html.twig' %}


{% block title %}Просмотр разрешения{% endblock %}

{% block content %}
    <div class="container p-2">
        <div class="row d-flex justify-content-start ">

            <div class="col-12">
                <div class="row p-2">
                    <h3 class="col-md-10 col-sm-12">Информация о разрешении </h3>
                    <div class="col-md-2 col-sm-12 btn-group" role="group" aria-label="Action">
                        <button class=" btn btn-secondary">
                            <i class="fas fa-pencil-alt"
                               onclick="location.href='{{ path("admin_permissions_edit", {'id': permission.getId()}) }}'"></i>
                        </button>
                        <button class="  btn btn-secondary"
                                onclick="location.href='{{ path("admin_permissions_delete", {'id': permission.id}) }}'">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="  btn btn-secondary" onclick="location.href='{{ path("admin_permissions_index") }}';">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Название</td>
                    <td>{{ permission.getName() }}</td>
                </tr>
                <tr>
                    <td>Идентификатор</td>
                    <td>{{ permission.getId() }}</td>

                </tr>
                <tr>
                    <td>Системное имя разрешения</td>
                    <td>{{ permission.getName() }}</td>
                </tr>
                <tr>
                    <td>Роли</td>
                    <td>
                        {% for role in permission.getRoles() %}
                            <button class="btn btn-info m-1"
                                    onclick="location.href='{{ path("admin_roles_show", {'id': role.getId()}) }}'">
                                {{ role.getName() }}
                            </button>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
